USE [master]
GO
/****** Object:  Database [RelayServer]    Script Date: 23.11.2018 08:06:23 ******/
CREATE DATABASE [RelayServer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RelayServer', FILENAME = N'/var/opt/mssql/data/RelayServer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RelayServer_log', FILENAME = N'/var/opt/mssql/data/RelayServer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RelayServer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RelayServer]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 23.11.2018 08:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActiveConnections]    Script Date: 23.11.2018 08:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActiveConnections](
	[LinkId] [uniqueidentifier] NOT NULL,
	[ConnectionId] [nvarchar](128) NOT NULL,
	[OriginId] [uniqueidentifier] NOT NULL,
	[ConnectorVersion] [int] NOT NULL,
	[LastActivity] [datetime] NOT NULL,
	[AssemblyVersion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.ActiveConnections] PRIMARY KEY CLUSTERED 
(
	[LinkId] ASC,
	[ConnectionId] ASC,
	[OriginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Links]    Script Date: 23.11.2018 08:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Links](
	[Id] [uniqueidentifier] NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Iterations] [int] NOT NULL,
	[Salt] [nvarchar](max) NOT NULL,
	[SymbolicName] [nvarchar](250) NOT NULL,
	[IsDisabled] [bit] NOT NULL,
	[ForwardOnPremiseTargetErrorResponse] [bit] NOT NULL,
	[AllowLocalClientRequestsOnly] [bit] NOT NULL,
	[MaximumLinks] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Identity]    Script Date: 23.11.2018 08:06:24 ******/
CREATE CLUSTERED INDEX [IX_Identity] ON [dbo].[Links]
(
	[Identity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestLogEntries]    Script Date: 23.11.2018 08:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestLogEntries](
	[Id] [uniqueidentifier] NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[OriginId] [uniqueidentifier] NOT NULL,
	[HttpStatusCode] [int] NOT NULL,
	[LinkId] [uniqueidentifier] NOT NULL,
	[OnPremiseTargetKey] [nvarchar](max) NOT NULL,
	[LocalUrl] [nvarchar](max) NOT NULL,
	[ContentBytesIn] [bigint] NOT NULL,
	[ContentBytesOut] [bigint] NOT NULL,
	[OnPremiseConnectorInDate] [datetime] NOT NULL,
	[OnPremiseConnectorOutDate] [datetime] NOT NULL,
	[OnPremiseTargetInDate] [datetime] NULL,
	[OnPremiseTargetOutDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Identity]    Script Date: 23.11.2018 08:06:24 ******/
CREATE CLUSTERED INDEX [IX_Identity] ON [dbo].[RequestLogEntries]
(
	[Identity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TraceConfigurations]    Script Date: 23.11.2018 08:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraceConfigurations](
	[Id] [uniqueidentifier] NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[LinkId] [uniqueidentifier] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CreationDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Identity]    Script Date: 23.11.2018 08:06:24 ******/
CREATE CLUSTERED INDEX [IX_Identity] ON [dbo].[TraceConfigurations]
(
	[Identity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23.11.2018 08:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Salt] [nvarchar](max) NOT NULL,
	[Iterations] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastFailedLoginAttempt] [datetime] NULL,
	[FailedLoginAttempts] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Identity]    Script Date: 23.11.2018 08:06:24 ******/
CREATE CLUSTERED INDEX [IX_Identity] ON [dbo].[Users]
(
	[Identity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
INSERT [dbo].[ActiveConnections] ([LinkId], [ConnectionId], [OriginId], [ConnectorVersion], [LastActivity], [AssemblyVersion]) VALUES (N'da1da069-d7fe-4f6c-8dec-1d9917e35207', N'ea251f41-e99e-484a-9346-e440dbf3eea0', N'5cd8d0c0-8bfa-430c-a68f-91def8738a46', 2, CAST(N'2018-11-23T07:06:09.917' AS DateTime), N'2.0.0.0')
GO
SET IDENTITY_INSERT [dbo].[Links] ON 
GO
INSERT [dbo].[Links] ([Id], [Identity], [UserName], [Password], [Iterations], [Salt], [SymbolicName], [IsDisabled], [ForwardOnPremiseTargetErrorResponse], [AllowLocalClientRequestsOnly], [MaximumLinks], [CreationDate]) VALUES (N'da1da069-d7fe-4f6c-8dec-1d9917e35207', 2, N'test', N'4ZBudQFLuwbG3B9HSeSPZkmW0BRmX4DW', 11318, N'cyHMrAN6/CFOJFkSd2n3Jh+4CskFiCUV', N'Test', 0, 0, 0, 0, CAST(N'2018-11-23T06:52:18.120' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Links] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 
GO
INSERT [dbo].[Users] ([Id], [Identity], [UserName], [Password], [Salt], [Iterations], [CreationDate], [LastFailedLoginAttempt], [FailedLoginAttempts]) VALUES (N'd46354f2-a4c8-4102-91b2-840371da0be6', 1, N'admin', N'/LnfhAa3Rz2GPjzdhQGWS++C0AiR9U+B', N'22th7bANLtH0WdPpo2opL0wQPbjNjWLZ', 8686, CAST(N'2018-11-23T07:49:36.403' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_LinkId]    Script Date: 23.11.2018 08:06:24 ******/
CREATE NONCLUSTERED INDEX [IX_LinkId] ON [dbo].[ActiveConnections]
(
	[LinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_dbo.Links]    Script Date: 23.11.2018 08:06:24 ******/
ALTER TABLE [dbo].[Links] ADD  CONSTRAINT [PK_dbo.Links] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 23.11.2018 08:06:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[Links]
(
	[UserName] ASC
)
INCLUDE ( 	[Id],
	[SymbolicName],
	[IsDisabled],
	[ForwardOnPremiseTargetErrorResponse],
	[AllowLocalClientRequestsOnly]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_dbo.RequestLogEntries]    Script Date: 23.11.2018 08:06:24 ******/
ALTER TABLE [dbo].[RequestLogEntries] ADD  CONSTRAINT [PK_dbo.RequestLogEntries] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ChartIndex]    Script Date: 23.11.2018 08:06:24 ******/
CREATE NONCLUSTERED INDEX [ChartIndex] ON [dbo].[RequestLogEntries]
(
	[OnPremiseConnectorInDate] ASC,
	[OnPremiseConnectorOutDate] ASC,
	[LinkId] ASC
)
INCLUDE ( 	[ContentBytesIn],
	[ContentBytesOut]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LinkId]    Script Date: 23.11.2018 08:06:24 ******/
CREATE NONCLUSTERED INDEX [IX_LinkId] ON [dbo].[RequestLogEntries]
(
	[LinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_dbo.TraceConfigurations]    Script Date: 23.11.2018 08:06:24 ******/
ALTER TABLE [dbo].[TraceConfigurations] ADD  CONSTRAINT [PK_dbo.TraceConfigurations] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LinkId]    Script Date: 23.11.2018 08:06:24 ******/
CREATE NONCLUSTERED INDEX [IX_LinkId] ON [dbo].[TraceConfigurations]
(
	[LinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_dbo.Users]    Script Date: 23.11.2018 08:06:24 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [PK_dbo.Users] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 23.11.2018 08:06:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[Users]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActiveConnections] ADD  CONSTRAINT [DF_dbo.ActiveConnections_AssemblyVersion]  DEFAULT ('Unknown') FOR [AssemblyVersion]
GO
ALTER TABLE [dbo].[ActiveConnections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ActiveConnections_dbo.Links_LinkId] FOREIGN KEY([LinkId])
REFERENCES [dbo].[Links] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ActiveConnections] CHECK CONSTRAINT [FK_dbo.ActiveConnections_dbo.Links_LinkId]
GO
ALTER TABLE [dbo].[RequestLogEntries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RequestLogEntries_dbo.Links_LinkId] FOREIGN KEY([LinkId])
REFERENCES [dbo].[Links] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestLogEntries] CHECK CONSTRAINT [FK_dbo.RequestLogEntries_dbo.Links_LinkId]
GO
ALTER TABLE [dbo].[TraceConfigurations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TraceConfigurations_dbo.Links_LinkId] FOREIGN KEY([LinkId])
REFERENCES [dbo].[Links] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TraceConfigurations] CHECK CONSTRAINT [FK_dbo.TraceConfigurations_dbo.Links_LinkId]
GO
USE [master]
GO
