<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="relayServer" type="Thinktecture.Relay.OnPremiseConnectorService.Configuration.RelayServerSection, Thinktecture.Relay.OnPremiseConnectorService" />
	</configSections>
	<!--
  <system.net>
    <defaultProxy enabled="true">
      <proxy
         bypassonlocal="False"
         usesystemdefault="True"
      />
    </defaultProxy>
  </system.net>
  -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>

	<appSettings>
		<!-- Logging -->
		<add key="serilog:minimum-level" value="Debug" />
		<add key="serilog:using:HttpContextData" value="Serilog.Enrichers.HttpContextData" />
		<add key="serilog:enrich:WithHttpContextData" value="" />
		<add key="serilog:enrich:FromLogContext" value="" />
		<add key="serilog:enrich:with-property:Application" value="OnPremiseConnector Dev" />
		<add key="serilog:using:Console" value="Serilog.Sinks.Console" />
		<add key="serilog:write-to:Console" value="" />
		<add key="serilog:using:Trace" value="Serilog.Sinks.Trace" />
		<add key="serilog:write-to:Trace" value="" />
		<add key="serilog:using:Seq" value="Serilog.Sinks.Seq" />
		<add key="serilog:write-to:Seq.serverUrl" value="http://localhost:5341/" />
	</appSettings>

  <relayServer baseUrl="http://localhost:20000/" ignoreSslErrors="false" timeout="00:00:30" logSensitiveData="true">
    <security authenticationType="Identity" accessTokenRefreshWindow="0.00:01:00">
      <identity userName="test" password="Ydy00/DbyMuGNwFnRDEmRc5Tg4z4wdnLmroSA5rt3z1/iQJYd2ctNhjnDWVPH+vGdzTpbW6BRpiW5GQOPzEka5CyYKgH5HXqgEriSUFjEtNo0eK2syQShFHoRuJnX6F5/iZPoA==" />
    </security>

		<onPremiseTargets>
			<web key="tt" baseUrl="http://thinktecture.com/" followRedirects="true" />
			<web key="lh" baseUrl="http://localhost/" followRedirects="true" />
		</onPremiseTargets>
	</relayServer>
  
</configuration>
