<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="relayServer" type="Thinktecture.Relay.OnPremiseConnectorService.Configuration.RelayServerSection, Thinktecture.Relay.OnPremiseConnectorService" />
  </configSections>
  <!--
  <system.net>
    <defaultProxy enabled="true">
      <proxy
         bypassonlocal="False"
         usesystemdefault="True"
      />
    </defaultProxy> 
  </system.net>
  -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <appSettings>
    <!-- Logging -->
    <add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:using:HttpContextData" value="Serilog.Enrichers.HttpContextData" />
    <add key="serilog:enrich:WithHttpContextData" />
    <add key="serilog:enrich:FromLogContext" />
    <add key="serilog:enrich:with-property:Application" value="OnPremiseConnector Dev" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console" />
    <add key="serilog:using:Trace" value="Serilog.Sinks.Trace" />
    <add key="serilog:write-to:Trace" />
    <add key="serilog:using:Seq" value="Serilog.Sinks.Seq" />
    <add key="serilog:write-to:Seq.serverUrl" value="http://localhost:5341/" />
  </appSettings>

  <relayServer baseUrl="http://localhost:20000/" ignoreSslErrors="false" timeout="00:00:30" >
    <security authenticationType="Identity" accessTokenRefreshWindow="0.00:00:10">
      <identity userName="test" password="Ydy00/DbyMuGNwFnRDEmRc5Tg4z4wdnLmroSA5rt3z1/iQJYd2ctNhjnDWVPH+vGdzTpbW6BRpiW5GQOPzEka5CyYKgH5HXqgEriSUFjEtNo0eK2syQShFHoRuJnX6F5/iZPoA==" />
    </security>

    <onPremiseTargets>
      <web key="tt" baseUrl="http://thinktecture.com/" />
      <web key="lh" baseUrl="http://localhost/" />
    </onPremiseTargets>
  </relayServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
