<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Serilog" version="2.5.0" targetFramework="net46" />
  <package id="Serilog.Enrichers.Context" version="2.3.0" targetFramework="net46" />
  <package id="Serilog.Enrichers.HttpContextData" version="0.1.2" targetFramework="net46" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net46" />
  <package id="Serilog.Settings.AppSettings" version="2.1.2" targetFramework="net46" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net46" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net46" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net46" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net46" />
  <package id="Serilog.Sinks.Seq" version="3.4.0" targetFramework="net46" />
  <package id="Serilog.Sinks.Trace" version="2.1.0" targetFramework="net46" />
  <package id="Topshelf" version="4.0.3" targetFramework="net46" />
  <package id="Topshelf.Serilog" version="4.0.3" targetFramework="net46" />
</packages>