# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
max_line_length = 140

# ReSharper properties
resharper_csharp_indent_size=3

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.cs]
indent_style = tab  
tab_width = 3
indent_size=tab

[*.ts]
ij_typescript_spaces_within_imports = true
ij_typescript_spaces_within_object_literal_braces = true
ij_typescript_spaces_within_object_type_braces = true
ij_typescript_force_quote_style = true
ij_typescript_use_double_quotes = false
ij_typescript_enforce_trailing_comma = whenmultiline
