*.suo
*.user
[Bb]in/
[Oo]bj/
packages/
node_modules/
.idea/
.vs/

*.ncrunchproject
*.ncrunchsolution
*.cache

deploy/
Documentations
Thinktecture.Relay.ManagementWeb/assets/*.css
.DS_Store
npm-debug.log

credentials.json
*.DotSettings
