<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/thinktecture/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="PublicToken" />
      <add key="ClearTextPassword" value="&#50;&#102;&#50;&#52;&#54;&#102;&#54;&#54;&#49;&#51;&#98;&#102;&#99;&#55;&#53;&#99;&#50;&#51;&#55;&#54;&#48;&#52;&#98;&#100;&#57;&#53;&#97;&#99;&#53;&#99;&#51;&#100;&#55;&#48;&#55;&#97;&#48;&#102;&#52;&#56;" />
    </github>
  </packageSourceCredentials>
</configuration>
