<ion-header>
  <ion-toolbar>
    <ion-title>New Tenant</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss.emit()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button strong [disabled]="!form.valid" (click)="create()">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item color="light">
        <ion-input
          #tenantName
          formControlName="name"
          label="Name"
          helperText="Required"
          errorText="Required"
        />
      </ion-item>
    </ion-list>

    <app-edit-tenant />
  </form>
</ion-content>
