<ion-header>
  <ion-toolbar>
    <ion-title>New Tenant</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss.emit()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [disabled]="!form.valid" (click)="dismiss.emit()">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-input
          #tenantName
          formControlName="name"
          aria-label="Name"
          placeholder="Name"
        />
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="displayName"
          aria-label="Display name"
          placeholder="Display name"
        />
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-textarea
          formControlName="description"
          label="Description"
          labelPlacement="stacked"
          autoGrow
        ></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-input
          type="number"
          formControlName="maximumConcurrentConnectorRequests"
          label="Concurrent requests"
          helperText="Maximum amount of concurrent requests a connector should receive. Zero is unlimited."
        />
      </ion-item>
      <ion-item>
        <ion-input
          type="number"
          formControlName="keepAliveInterval"
          label="Keepalive interval"
          helperText="Keepalive interval in seconds."
        />
      </ion-item>
      <ion-item>
        <ion-checkbox
          formControlName="requireAuthentication"
          labelPlacement="end"
          justify="start"
        >
          Require authentication
        </ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox
          formControlName="enableTracing"
          labelPlacement="end"
          justify="start"
        >
          Enable tracing
        </ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-input
          type="number"
          formControlName="reconnectMinimumDelay"
          label="Minimum reconnect delay"
          helperText="Minimum delay in seconds to wait for until a reconnect of a connector should be attempted again."
        />
      </ion-item>
      <ion-item>
        <ion-input
          type="number"
          formControlName="reconnectMaximumDelay"
          label="Maximum reconnect delay"
          helperText="Maximum delay in seconds to wait for until a reconnect of a connector should be attempted again."
        />
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="add-circle" color="success" />
          add credential
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <pre>{{ form.value | json }}</pre>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
