<ion-header>
  <ion-toolbar>
    <ion-title>{{ name() }}</ion-title>
    <ion-buttons slot="start">
      @if (editing()) {
        <ion-button (click)="cancel()">Cancel</ion-button>
      } @else {
        <ion-back-button default-href="/tabs/tenants"></ion-back-button>
      }
    </ion-buttons>
    <ion-buttons slot="end">
      @if (editing()) {
        <ion-button strong (click)="save()" [disabled]="!form.valid">
          Done
        </ion-button>
      } @else {
        <ion-button (click)="edit()">Edit</ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (editing()) {
    <form [formGroup]="form" (ngSubmit)="save()">
      <app-edit-tenant />
    </form>
  } @else {
    @if (tenant$ | async; as tenant) {
      <app-view-tenant [tenant]="tenant" />
    }
  }
</ion-content>
