<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="name()"
        [defaultHref]="'/tabs/tenants/' + name()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Connections</ion-title>

    @if (loading()) {
      <ion-progress-bar type="indeterminate" />
    }
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (connections$ | async; as connections) {
    @for (connection of connections; track connection.id) {
      <ion-list inset>
        <ion-item color="light">
          <ion-label>
            <p>Origin ID</p>
            {{ connection.originId }}
          </ion-label>
        </ion-item>
        <ion-item color="light">
          <ion-label>
            <p>Connect time</p>
            {{ connection.connectTime | date }}
          </ion-label>
        </ion-item>
        <ion-item color="light">
          <ion-label>
            <p>Disconnect time</p>
            {{ connection.disconnectTime | date }}
          </ion-label>
        </ion-item>
        <ion-item color="light">
          <ion-label>
            <p>Last seen time</p>
            {{ connection.lastSeenTime | date }}
          </ion-label>
        </ion-item>
        <ion-item color="light">
          <ion-label>
            <p>Remote IP address</p>
            {{ connection.remoteIpAddress }}
          </ion-label>
        </ion-item>
      </ion-list>
    }
  }
</ion-content>
