<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/tabs/tenants"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ name() }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/tabs/tenants"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">{{ name() }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <pre>{{ details | async | json }}</pre>
</ion-content>
