<ion-header>
  <ion-toolbar>
    <ion-title>Tenants</ion-title>
    <ion-buttons slot="end">
      <ion-button id="add-tenant">
        <ion-icon slot="icon-only" name="add" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="search($event)" [debounce]="500" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (tenant of tenants; track tenant.name) {
    <ion-item [routerLink]="['/tabs', 'tenants', tenant.name]" [button]="true">
      <ion-label>{{ tenant.displayName ?? tenant.name }}</ion-label>
      <ion-button
        slot="end"
        fill="clear"
        color="danger"
        (click)="deleteTenant($event, $index)"
      >
        <ion-icon slot="icon-only" name="trash-outline" />
      </ion-button>
    </ion-item>
    } @if (scrollDisabled) {
    <ion-item>
      <ion-note color="light">
        @if (filter === '') {
        <span>{{ tenants.length }} tenants in total</span>
        } @else {
        <span>{{ tenants.length }} tenants matching {{ filter }}</span>
        }
      </ion-note>
    </ion-item>
    }
  </ion-list>

  <ion-infinite-scroll
    (ionInfinite)="onInfinite($event)"
    [disabled]="scrollDisabled"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-modal
    #modal
    trigger="add-tenant"
    [presentingElement]="presentingElement"
    (didPresent)="newTenant?.focus()"
  >
    <ng-template>
      <app-new-tenant (dismiss)="modal.dismiss()" #newTenant />
    </ng-template>
  </ion-modal>
</ion-content>
