<ion-header>
  <ion-toolbar>
    <ion-title>Tenants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    @for (tenant of tenants; track tenant.name) {
    <ion-item [routerLink]="['/tabs', 'tenants', tenant.name]" [button]="true">
      <ion-label>{{ tenant.name }}</ion-label>
    </ion-item>
    }
  </ion-list>

  <ion-infinite-scroll
    (ionInfinite)="onInfinite($event)"
    [disabled]="scrollDisabled"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
