<ion-header>
  <ion-toolbar>
    <ion-title>Tenants</ion-title>
    <ion-buttons slot="end">
      <ion-button id="add-tenant" aria-label="Add tenant">
        <ion-icon slot="icon-only" name="add" aria-hidden />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="search($event)" [debounce]="500" />
    @if (loading()) {
      <ion-progress-bar type="indeterminate" />
    }
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (tenants$ | async; as tenants) {
    @if (tenants.error) {
      <ion-list>
        <ion-item>
          <ion-note>Failed to load tenants</ion-note>
        </ion-item>
      </ion-list>
    } @else {
      <ion-list>
        @for (tenant of tenants.results; track tenant.name) {
          <ion-item
            [routerLink]="['/tabs', 'tenants', tenant.name]"
            [button]="true"
          >
            <ion-label>{{ tenant.displayName ?? tenant.name }}</ion-label>
            <ion-button
              slot="end"
              fill="clear"
              color="danger"
              (click)="deleteTenant($event, tenant)"
              aria-label="Delete tenant"
            >
              <ion-icon slot="icon-only" name="trash-outline" aria-hidden />
            </ion-button>
          </ion-item>
        }

        @if (!loading() && !tenants.moreAvailable) {
          <ion-item>
            <ion-note>
              @if (filter() === "") {
                {{ tenants.results.length | i18nPlural: tenantsMapping }} in
                total
              } @else {
                {{ tenants.results.length | i18nPlural: tenantsMapping }}
                matching {{ filter() }}
              }
            </ion-note>
          </ion-item>
        }
      </ion-list>

      <ion-infinite-scroll
        (ionInfinite)="onInfinite($event)"
        [disabled]="!tenants.moreAvailable"
      >
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    }
  }

  <ion-modal
    trigger="add-tenant"
    [presentingElement]="presentingElement"
    (didPresent)="newTenant().focusTenantName()"
  >
    <ng-template>
      <app-new-tenant />
    </ng-template>
  </ion-modal>
</ion-content>
