<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" tabindex="-1"><span>&times;</span><span class="sr-only" translate>COMMON.CLOSE</span></button>
    <h3 class="modal-title" translate>LINK_DETAILS.MODAL_DELETE.TITLE</h3>
</div>
<div class="modal-body" translate="LINK_DETAILS.MODAL_DELETE.TEXT" translate-values="{ linkName: link.symbolicName }"></div>
<div class="modal-footer">
    <button class="btn btn-danger" type="submit" ng-click="submit()" translate>LINK_DETAILS.DELETE</button>
    <button class="btn btn-default" ng-click="cancel()" translate>COMMON.CLOSE</button>
</div>