<div class="page-header">
    <h1>{{ 'LINK_DETAILS.TITLE' | translate:translationData }}</h1>
</div>

<uib-tabset active="activeTabIndex">
    <uib-tab heading="{{ 'LINK_DETAILS.TABS.INFO' | translate }}" select="invokeOnTabActivate()">
        <link-info-tab></link-info-tab>
    </uib-tab>

    <uib-tab heading="{{ 'LINK_DETAILS.TABS.CHARTS' | translate }}" select="invokeOnTabActivate()">
        <link-charts-tab></link-charts-tab>
    </uib-tab>

    <uib-tab heading="{{ 'LINK_DETAILS.TABS.LOGS' | translate }}" select="invokeOnTabActivate()">
        <link-logs-tab></link-logs-tab>
    </uib-tab>

    <uib-tab heading="{{ 'LINK_DETAILS.TABS.TRACE' | translate }}" select="invokeOnTabActivate()">
        <link-trace-tab></link-trace-tab>
    </uib-tab>

    <uib-tab ng-repeat="trace in traceResults" class="resultTab-{{trace.id}}" select="invokeOnTabActivate()" >
        <uib-tab-heading>{{ trace.id }} <i class="fa fa-times" style="cursor: pointer" ng-click="closeResultTab($event, trace.id)"></i></uib-tab-heading>
        <link-trace-result-tab></link-trace-result-tab>
    </uib-tab>

</uib-tabset>
